---
import Angular from "../icons/Angular.astro";
import Figma from "../icons/Figma.astro";
import JavaScript from "../icons/JavaScrip.astro";
import Next from "../icons/Next.astro";
import PHP from "../icons/PHP.astro";
import PostgresSql from "../icons/PostgresSql.astro";
import Python from "../icons/Python.astro";
import React from "../icons/React.astro";
import Tailwind from "../icons/Tailwind.astro";
import Nodejs from "../icons/Node.astro";
import Vue from "../icons/Vue.astro";
import GitHub from "../icons/GitHub.astro";
import Link from "../icons/Link.astro";
import LinkButton from "../components/LinkButton.astro";
const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: Next,
  },
  PHP: {
    name: "PHP",
    class: "bg-indigo-500 text-white",
    icon: PHP,
  },
  PYTHON: {
    name: "Python",
    class: "bg-blue-500 text-white",
    icon: Python,
  },
  FIGMA: {
    name: "Figma",
    class: "bg-purple-500 text-white",
    icon: Figma,
  },
  REACT: {
    name: "React",
    class: "bg-blue-400 text-white",
    icon: React,
  },
  VUE: {
    name: "Vue",
    class: "bg-green-500 text-white",
    icon: Vue,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-red-500 text-white",
    icon: Angular,
  },
  NODE: {
    name: "Node.js",
    class: "bg-green-600 text-white",
    icon: Nodejs,
  },
  SQL: {
    name: "SQL",
    class: "bg-gray-700 text-white",
    icon: PostgresSql,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-500/90 text-white",
    icon: JavaScript,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-blue-300/70 text-white",
    icon: Tailwind,
  },
};

const PROJECTS = [
  {
    title: "project 1",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus repudiandae enim tempora odio deserunt fugit harum, tenetur accusantium, asperiores qui maxime ullam omnis eaque nulla atque culpa repellendus quisquam iure?",
    link: "#",
    github: "#",
    image: "https://cms-cdn.placeholder.co/Vancouver_87c09f1b29.png?width=384",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-6" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
